<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="com.rba.detail">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity
                android:name=".DetailActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

    <dist:module
            dist:onDemand="true"
            dist:instant="false"
            dist:title="@string/title_detail">
        <dist:fusing dist:include="true"/>
    </dist:module>

</manifest>

